# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log

# Environment Variables
.env
.env.*.local

# IDE files
.idea/
.vscode/frontend/node_modules/

certbot
